body {
    font-family: 'Roboto', sans-serif;
    color: var(--NAVY-BLUE);
}

:root {
    --NAVY-BLUE: #2E2F42;
    --IRIS: #4D5AE5;
    --SLATE: #434455;
    --WHITE: #FFFFFF;
    --OCEAN: #404BBF;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
}

/*----------------header------------------*/

.header {

}

.header-menu {

}

.menu-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--IRIS);
}

.header-studio {
    color: var(--NAVY-BLUE);

}

.header-list {
    list-style: none;
}

.header-item {}

.header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--NAVY-BLUE);
}

.header-item-link:hover,
.header-item-link:focus {
    color: var(--OCEAN);
    text-decoration: underline;
}

.header-contacts {}

.header-contacts-list {
    list-style: none;
}

.header-contacts-item {}

.header-contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
    text-decoration: none;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--OCEAN);
}

/*----------------header------------------*/

/*------------------main------------------*/

.hero-section {
    background-color: var(--NAVY-BLUE);
}

.hero-section-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--WHITE);
}

.hero-section-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE);
    background-color: var(--IRIS);
    border-radius: 4px;
    cursor: pointer;
}
.hero-section-btn:hover,
.hero-section-btn:focus {
    background-color: var(--OCEAN);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {}

.advantages-item {
    list-style: none;
}

.advantages-item-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
}

.advantages-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}

.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE);
}

.product-list {}

.product-item {
    list-style: none;
}

.team-section {
    background-color: var(--CLOUD);
}

.team-list {}

.team-item {
    list-style: none;
}

.name,
.portfolio-list-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
}

.team-role,
.portfolio-list-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}

.portfolio-section {}

.portfolio-btn-list {
    list-style: none;
}

.portfolio-btn-item {

}

.portfolio-btn {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--IRIS);
    background-color: var(--CLOUD);
    border: 1px solid var(--CORNFLOWER);
    border-radius: 4px;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--OCEAN);
    color: var(--WHITE);
}

.portfolio-item {
    list-style: none;
}

/*------------------main------------------*/

/*-----------------footer-----------------*/

.footer {
    background-color: var(--NAVY-BLUE);
}

.footer-studio {
    color: var(--CLOUD);
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CORNFLOWER);
}
/*-----------------footer-----------------*/